/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@mixin content-margin {
  margin-left: 13%;
  margin-right: 13%;
  min-width: 825px;
}

nav {
  padding-left: 0 !important;
  padding-right: 0 !important;
  div {
    @include content-margin;

    ul {
      font-size: 1.1rem;
    }
  }
}

main {
  @include content-margin;
}

.list {
  padding-left: 0px;
  font-size: 1.1rem;
}

.list-item {
  list-style-type: none;
  margin-top: 0.7rem;
}

.badge {
  font-weight: normal !important;
}

footer {
  height: 200px;
}

.col-md-6, .col-md-7 {
  padding: 0;
}
