// Place all the styles related to the Serials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.serials-body {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .serials-container {

    display: flex;
    flex-direction: row;

  }

  .serials-content-container {

    width: 85%;

    .add-serial-btn {
      margin: 15px;
    }

    .serials-content {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .serial-card {

        max-width: 320px;
        height: 570px;
        margin: 15px;

        .card-body {

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 570px;

          .card-links {

            margin-top: 10px;

          }
        }
      }
    }
  }

  .filters {

    width: 15%;

    .filter {

      margin-bottom: 20px;

      ul {
        li {
          padding-left: 0;
        }
      }

    }
  }
}

.serial-form {

  width: 600px;

}

.serial-container {

  margin-top: 30px;

  .serial-img-description-container {

    display: flex;
    flex-direction: row;

    .serial-preview {

      min-width: 325px;

    }

    .serial-body {

      padding-left: 20px;

      .serial-info {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .serial-info-header {

          margin-top: 5px;
          font-weight: bold;

        }

        .no-info {
          font-size: 0.8rem;
        }

        .serial-rating-status {

          .rating {

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

          }

        }

      }
    }

  }

  .title-block {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
}

.star-btn {

  border: none;
  padding: 0;

  :focus {

    outline: none;

  }

}

.serials-search-field {

  margin: 0 !important;

}

.card-text {

  margin-top: 10px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.list-group-flush {

  margin-left: 0 !important;

  .list-group-item{

    .genre-filter-link {

      color: rgba(0, 0, 0, 0.7);

    }
  }
}

.serial-links {
  margin-top:25px
}
