// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin colors {
  background-color: #f8f9fa;
  color: rgba(0, 0, 0, 0.7);
}

@mixin sizes {
  max-width: 600px;
  padding: 30px;
}

.user-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new_user, .edit-user {
  @include sizes;
  @include colors;
}

#user_country_id {
  width: 100%;
}

.user-card {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  justify-content: space-between;
  padding: 30px;
  @include colors;

}

.user-dropdown {
  max-width: 185px;
}

.user-button {
  width: 95px;
  font-size: 15px !important;
}

.info-div {
  min-width: 350px;
}

.edit_serial {
  display: flex;
  flex-direction: row;
}

#tag_select {
  margin: 0;
}
